html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background-color: #ffffff;
}

#background_logIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 27%;
  height: 100%;
  background-color: #fdeeb0;
}
.container {
  position: absolute;
  top: 45%;
  left: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
h2 {
  margin-bottom: 50px;
}
.username {
  margin-bottom: 10px;
}
.password {
  margin-bottom: 10px;
}
input[type="email"]:hover {
  border: #ffdd00 solid 2px;
  background-color: #ffffff;
}

input[type="email"] {
  width: 280px;
  height: 35px;
  background-color: #f5f5f5;
  border-style: none;
  border-radius: 8px;
  font-size: 18px;
  padding-left: 10px;
}

input[type="password"]:hover {
  border: #ffdd00 solid 2px;
  background-color: #ffffff;
}

input[type="password"] {
  width: 280px;
  height: 35px;
  background-color: #f5f5f5;
  border-style: none;
  border-radius: 8px;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.access {
  background-color: #f26623;
  width: 200px;
  height: 35px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
}
.access a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
}
